<!DOCTYPE html>
<html lang='en'>

<head>
    <meta charset="utf-8"/>
    <title>Chat UI</title>
    <link href="chat.css" type="text/css" media="screen" rel="stylesheet">

</head>

<body>
    <div id="chat-container">
        <div id="top-sidebar">
        </div>
        <div id="middle-sidebar">
        </div>
        <div id="bottom-sidebar">
        </div>
        <div id="chat-title">
            <span>Advice Helper</span>
            <button id="end-chat-button">End Chat</button>

        </div>
        <div id="chat-message-list">
            <div class="message-row other-message">
                <div class="message-text">
                    Bye.
                </div>
                <div class="message-time">
                    2:20 PM
                </div>
            </div>
            <div class="message-row you-message">
                <div class="message-text">
                    Please don't leave me, I really need help.
                </div>
                <div class="message-time">
                    2:19 PM
                </div>
            </div>
            <div class="message-row you-message">
                <div class="message-text">
                    NO!!!!!
                </div>
                <div class="message-time">
                    2:19 PM
                </div>
            </div>
            <div class="message-row other-message">
                <div class="message-text">
                    Alright, I'm ending the chat.
                </div>
                <div class="message-time">
                    2:19 PM
                </div>
            </div>
            <div class="message-row you-message">
                <div class="message-text">
                    Oh... uh... What is your name?
                </div>
                <div class="message-time">
                    2:18 PM
                </div>
            </div>
            <div class="message-row other-message">
                <div class="message-text">
                    What do you mean? I am the advice helper. Ask me for some advice.
                </div>
                <div class="message-time">
                    2:17 PM
                </div>
            </div>
            <div class="message-row you-message">
                <div class="message-text">
                    Who are you?
                </div>
                <div class="message-time">
                    2:16 PM
                </div>
            </div>
            <div class="message-row other-message">
                <div class="message-text">
                    Hi, what can I help you with?
                </div>
                <div class="message-time">
                    2:16 PM
                </div>
            </div>
        </div>
        <div id="chat-form">
            <input type="text" placeholder="Type a message">
        </div>
    </div>
</body>
</html>